@font-face {
  font-family: "iconfont"; /* Project id 1365296 */
  src: url('@/static/iconfont2.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontianchongxing-:before {
  content: "\e630";
}

.iconziyuan1:before {
  content: "\e622";
}

.iconziyuan11:before {
  content: "\e623";
}

.iconshoucang2:before {
  content: "\e629";
}

.iconpinglun1:before {
  content: "\e621";
}

.icondianzan1:before {
  content: "\e66e";
}

.icondianzan2:before {
  content: "\e6c1";
}

.iconpinglun2:before {
  content: "\eff9";
}

.iconleimupinleifenleileibie:before {
  content: "\e7f9";
}

.icontijiao:before {
  content: "\e714";
}

.iconshangyibu:before {
  content: "\e61d";
}

.iconxiayibu:before {
  content: "\e648";
}

.iconhelp:before {
  content: "\e92c";
}

.iconOrderHistory:before {
  content: "\e65c";
}

.icone-learning-monitor:before {
  content: "\e69b";
}

.icondown:before {
  content: "\e61b";
}

.iconup:before {
  content: "\e728";
}

.iconshuaxin:before {
  content: "\e61a";
}

.icon9:before {
  content: "\e619";
}

.iconkecheng:before {
  content: "\e63a";
}

.icondianzan:before {
  content: "\e702";
}

.iconiconfontfenxiang:before {
  content: "\e618";
}

.iconshoucang1:before {
  content: "\e73d";
}

.iconlishijilu:before {
  content: "\e617";
}

.icongou:before {
  content: "\e6b1";
}

.iconico:before {
  content: "\e647";
}

.iconloading:before {
  content: "\e616";
}

.iconluyin1:before {
  content: "\e615";
}

.iconfenxiang1:before {
  content: "\e613";
}

.iconiconfontshanchu:before {
  content: "\e61e";
}

.iconai61:before {
  content: "\e6b3";
}

.icontousu:before {
  content: "\e61c";
}

.iconiconfontxingxing:before {
  content: "\e6b0";
}

.iconheimingdan:before {
  content: "\e638";
}

.iconfenxiang:before {
  content: "\e668";
}

.iconluyin:before {
  content: "\e6dc";
}

.iconshengyin:before {
  content: "\eae0";
}

.iconshoucang:before {
  content: "\e60f";
}

.icon05qunzufill:before {
  content: "\e60b";
}

.iconfujinderen:before {
  content: "\e646";
}

.iconyaoyiyao1:before {
  content: "\e63d";
}

.iconscan:before {
  content: "\e614";
}

.iconziyuan:before {
  content: "\e637";
}

.iconkehuqunzu:before {
  content: "\e673";
}

.iconset:before {
  content: "\e612";
}

.iconxinzengke:before {
  content: "\e60e";
}

.icongouwu:before {
  content: "\e658";
}

.iconpaizhao:before {
  content: "\e6ed";
}

.iconkanyikan:before {
  content: "\e610";
}

.iconsouyisou:before {
  content: "\e611";
}

.iconpinglun:before {
  content: "\e64e";
}

.icongengduo:before {
  content: "\e62a";
}

.iconyouxi:before {
  content: "\e60a";
}

.icontuceng:before {
  content: "\ea2d";
}

.iconfuzhituceng:before {
  content: "\e64a";
}

.iconqunzu:before {
  content: "\e64b";
}

.iconsaoyisao1:before {
  content: "\e86d";
}

.icontupian:before {
  content: "\e608";
}

.iconzhifu:before {
  content: "\e66c";
}

.iconpengyouquan:before {
  content: "\e667";
}

.icontag-fill:before {
  content: "\e639";
}

.iconusernew04:before {
  content: "\e65d";
}

.iconguanbi:before {
  content: "\e620";
}

.iconbofang:before {
  content: "\e737";
}

.iconyoufanye:before {
  content: "\e640";
}

.iconzuo:before {
  content: "\e609";
}

.iconfangda:before {
  content: "\e6cc";
}

.iconqunliao-biaoqing_:before {
  content: "\e607";
}

.iconqunliao_1:before {
  content: "\e605";
}

.iconqunliao_2:before {
  content: "\e606";
}

.iconqunliao_:before {
  content: "\e603";
}

.icontishijinzhi:before {
  content: "\e78e";
}

.iconsaoyisao:before {
  content: "\e604";
}

.iconjinru:before {
  content: "\e60c";
}

.iconfanhui:before {
  content: "\e60d";
}

.icongengduo1:before {
  content: "\e6fd";
}

.iconsearch:before {
  content: "\e6e3";
}

.iconadd:before {
  content: "\e682";
}

.iconinfo:before {
  content: "\e633";
}

.iconmail:before {
  content: "\e6c2";
}

.iconmy:before {
  content: "\e61f";
}

.iconfind:before {
  content: "\e6d6";
}
